/* KeyFrame File */
@import url(./keyfram.css);

/* Start Global Style */
:root {
  --main-padding: 100px;
  --main-color: #434343;
  --main-bg-color: #f7f7f7;
  --alt-color: #748182;
  --main-transition: all 0.5s ease;
  --main-border: '';
  --main-fonts: 'Poppins', sans-serif;
}
body {
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}
.main-title-section {
  color: var(--main-color);
  font-size: 40px;
  position: relative;
  font-weight: 900;
  width: fit-content;
  z-index: 1;
}
.main-title-section::before {
  content: '';
  background-image: url(../imgs/dots.png);
  background-position: center;
  background-repeat: repeat;
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0px;
  top: 60%;
  z-index: -1;
}
.main-padding-section {
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
}
.main-overlay {
  opacity: 0.65;
}

/* End Global Style */

/* Start Re Style Of Browser  */
::selection {
  color: #fff;
  background-color: var(--main-color);
}
/* End Re Style Of Browser  */

/* Start NavBar */
nav {
  transition: all 0.7s ease-in-out;
}
nav ul li a::before {
  content: '';
  position: absolute;
  width: 0%;
  left: 0;
  right: 0;
  height: 2px;
  bottom: -2px;
  background-color: #fff;
  transition: all 0.5s;
  visibility: hidden;
}
.psoudo-white:before {
  background-color: #fff;
}
.psoudo-black:before {
  background-color: #000;
}
#navbar-scroll ul li a {
  font-weight: 400;
}
/* To prevent Before At Media Screen */
@media (min-width: 992px) {
  nav ul a:hover::before {
    visibility: visible;
    width: 100%;
  }
  .active::before {
    visibility: visible;
    width: 100%;
  }
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.nav-link:focus,
.nav-link:hover,
.nav-link,
.logo {
  color: white;
}

nav .navbar-toggler {
  background-color: white;
}
/* End NavBar */
/* Start header */
header {
  height: 100vh;
  background: url('../imgs/bg.jpg') left no-repeat;
  background-size: cover;
}
header h5 {
  font-size: 3.125rem;
}
header h1 {
  font-weight: 400;
  font-size: 45px;
}
header h1:after {
  content: '|';
  animation: typing 5s infinite ease;
}
header h1 span {
  font-weight: 100;
  font-size: 40px;
}
header .sochial span {
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  border-radius: 50%;
  transition: var(--main-transition);
}
header .sochial span:hover {
  background-color: white;
  color: #000;
}
/* End header */

/* Start About */

#about .first-col figure::before {
  content: '';
  background-image: url(../imgs/dots.png);
  width: 80%;
  height: 80%;
  position: absolute;
  left: 0px;
  bottom: -30px;
  background-repeat: repeat;
  z-index: -1;
}
/* End About */
#about .row .lable {
  color: #999;
  letter-spacing: 2px;
}
#about .row h3 {
  color: var(--main-color);
  font-size: 40px;
}
#about .row .about-content {
  color: var(--alt-color);
}
#about .row .about-content b {
  font-weight: 600;
  font-family: 'Montserrat';
}
#about .progresspars .progress {
  height: 28px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.15) inset;
}

#about .progresspars .progress h6 {
  font-weight: 400;
}
#about .progresspars .progress-bar {
  width: 20%;
  transition: var(--main-transition);
}

#about .btns .download button {
  background-color: #000;
  color: #fff;
  transition: all 0.2s;
}
#about .btns button {
  width: 170px;
}
#about .btns .contact button,
#about .download button:hover {
  background-color: #fff;
  color: #000;
}

#about .btns .contact button:hover {
  background-color: #000;
  color: #fff;
}
/* Start Services */
#services {
  background-color: var(--main-bg-color);
}

#services .icons {
  width: 80px;
  height: 80px;
  background-color: var(--main-bg-color);
  transition: var(--main-transition);
}
#services p {
  color: var(--alt-color);
  word-spacing: 2px;
}
#services .item:hover .icons {
  background-color: #000;
  color: white;
}
/* End Services */

/* Start FortFolio */
#portfolio .inner-content .row figcaption {
  background-color: white;
  inset: 5px;
  opacity: 0;
  transition: var(--main-transition);
  transform: translate(-1px, 20px);
}
#portfolio .row div {
  transition: var(--main-transition);
}
#portfolio .inner-content .row figure:hover figcaption {
  transform: translate(0);
  opacity: 0.8;
}
#portfolio .inner-content .row figcaption h6 {
  font-size: 15px;
  font-weight: 700;
  word-spacing: 2px;
  letter-spacing: 2px;
}

#portfolio .inner-content .row figcaption .icons span {
  width: 30px;
  height: 30px;
  background-color: #000;
  color: white;
  transition: var(--main-transition);
  cursor: pointer;
}

#portfolio .inner-content .row figcaption .icons span:hover {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
#portfolio .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: var(--main-color);
  background-color: transparent;
  transition: var(--main-transition);
}
#portfolio .nav-link {
  position: relative;
  color: var(--main-color);
  font-family: 'Montserrat';
  font-weight: 800;
  text-transform: capitalize;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
#portfolio .nav-pills .nav-link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  transition: var(--main-transition);
  width: 0%;
  height: 3px;
  background-color: var(--main-color);
}
#portfolio .nav-pills .nav-link.active::before {
  width: 100%;
}
#portfolio .fade:not(.show) {
  transform: scale(0.5);
}
#portfolio .fade {
  transition: all 0.3s;
}
/* End FortFolio */
/* Start Testimonials */
.testimonials {
  background-color: var(--main-bg-color);
  min-height: 70vh;
}
.testimonials-user .images {
  width: 10%;
  margin: auto;
}
.testimonials .info-user p {
  color: var(--alt-color);
  word-spacing: 3px;
}
.testimonials .info-user h6 {
  color: var(--main-color);
  font-weight: 600;
}
.testimonials .info-user span {
  color: var(--alt-color);
  font-weight: 600;
  font-size: 14px;
}
.testimonials .carousel-indicators [data-bs-target] {
  height: 15px;
  width: 15px;
  padding: 0px;
  border-radius: 50%;
  background-color: #d6d6d6;
  transition: var(--main-transition);
}
.carousel-indicators .active {
  background-color: #869791 !important;
}
/* End Testimonials */
/* Start Counter */
.counter .item :not(:last-child) {
  color: var(--main-color);
  font-weight: 700;
}
.counter .item .title {
  color: var(--alt-color);
  font-weight: 600;
}
/* End Counter */
/* Start Team */
.team {
  background-color: var(--main-bg-color);
}
.team .card-body {
  background-color: #5b5b5b;
  color: white;
}
.team .card-body h4 {
  font-weight: 500;
}
.team .row figure .overlay {
  transition: var(--main-transition);
  transform: rotateY(180deg) scale(0.5, 0.5);
  opacity: 0;
  inset: 5px;
}
.team .row .card-item:hover .overlay {
  transform: rotateY(0deg) scale(1, 1);
  opacity: 1;
}

.team .row figure .overlay span {
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
  border-radius: 50%;
  border: 1px solid #000;
  transition: var(--main-transition);
}
.team .row figure .overlay span:hover {
  background-color: white;
  color: #000;
}
.team .row figure img {
  transition: all 0.7s;
}
.team .row figure:hover img {
  transform: scale(1.5);
}
.team .row .card-text h5 {
  font-weight: 700;
}
/* End Team */
/* Start Contact */
.contact .icon {
  width: 70px;
  height: 70px;
  background-color: #f4f4f4;
  color: var(--main-color);
  transition: all 0.4s;
}
.contact .row > div:hover span {
  color: #fff;
  background-color: var(--main-color);
}
.contact .icon h6 {
  color: var(--main-color);
}
.contact p {
  color: var(--alt-color);
}
/* End Contact */

/* Start Form */
form .form-floating > .form-control,
.form-floating > .form-control-plaintext {
  background-color: #f4f4f4;
  color: var(--alt-color);
}
form .label {
  color: var(--alt-color);
}
form .form-control:focus {
  border-color: transparent;
  box-shadow: none;
}
form .form-control {
  border-color: transparent;
}
form textarea {
  height: calc(9rem + calc(var(--bs-border-width) * 2)) !important;
  resize: vertical;
}
form .comment {
  left: 10px;
}
.contact form button {
  background-color: black;
  color: white;
  transition: all 0.3s;
}
.contact form button:hover {
  background-color: white;
  color: black;
}
/* End Form */

/* Start Footer */
footer {
  background-color: #1c1c1c;
  color: var(--alt-color);
}
footer span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
button.scrollToTopBtn {
  display: none;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #000;
  color: white;
  border: none;
}
/* End Footer */
